*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  
   
}

/* começo da nave */

.principal{
    position:fixed;
    border-bottom: solid 1px rgb(0, 0, 0);
    background-color: #0a2342;
    height: 60px;
    width: 100%;
    z-index: 999;
}

.logotipo{
    position: fixed;
    left: 50px;
    height: 60px;
}
.principal ul li{
    display: inline-block;
    color: #8b8b8b;
    height: 20px;
    list-style: none;  /*tira os bullets (bolinhas)*/
    
}

.principal ul li button{
    color: rgb(189, 186, 186);
    background: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px; 
    cursor: pointer;
} 

.opcoes{
    height: 20px;
    width: 220px;
    padding: 2px;
    position: fixed;
    top: 3%;
    right: 50px;
}

.cadastro{
    margin-left: 15px;
}
.opcoes button{
    outline-style: none;
}

.cadastro :hover {
    color: rgb(255, 255, 255);
  }



.barra{
    margin-left: 8px;
}
.login{
    margin-left: 10px;
}

.login :hover {
    color: rgb(255, 255, 255);
  }

.financa{
    position: relative;
    left: 3%;
    top: 3%;
}

/* final da nave */

.conteudo{
    /* border-top: solid 3px rgb(212, 208, 205) ;
    border-bottom: solid 3px rgb(212, 208, 205); */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 25px -5px #0000008c;
    position: absolute;
    border-radius: 6px;
    top: 16%;
    left: 60px;
    width: 1240px;
    height: 950px; 
    margin-bottom: 50px;
}
/* Final autura site */

/* começo contexto Tesouro Direto */
.tesouro{
    position: absolute;
    top: 20px;
    left: 533px;
    font-family: verdana;
   
}

.contexto{
    position: absolute;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px -2px #0000008c;
    top: 7%;
    left: 2%;
    width: 95%;
    height: 34%;
    padding: 10px;
}
.contexto h2{
    text-align: center;
    font-family: "freight-sans-pro",sans-serif!important;
    font-size: 32px;
    font-weight: 400;
}
.texto{
    position: absolute;
    left: 2%;
    font-family: "freight-sans-pro",sans-serif!important;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.9;
    width: 450px;
    height: 180px;
}

.texto2{
    position: absolute;
    font-family: "freight-sans-pro",sans-serif!important;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.9;
    width: 450px;
    height: 180px;
    top: 15%;
    left: 55%;
    width: 450px;
    height: 180px;
}

/* final contexto Tesouro Direto */

/* Começo Calculadoras */
.MoldeCalculadora{
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px -2px #0000008c;
    position: relative;
    top: 600px;
    left: 90px;
    width: 1190px;
    height: 380px;
}

.fundocalcule{
    background-color: rgb(179, 176, 172);
    border: solid 1px;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    padding-top: 50px;
    top:18px;
    left: 10%;
    height: 280px;
    width: 330px;
}

.fundocalcule input{
    position: relative;
    left: 14px;
    width: 300px;
    height: 20px;
    margin-bottom: 20px;
}
.fundocalcule label{
    position: relative;
    left: 14px;
    font-size: 18px;
    font-family: "RationalDisplay-Light";
}

.fundocalcule button{
    position: relative;
    left: 130px;
    top:20px;
    width: 80px;
    height: 20px;
}
/* Final Calculadoras */

/* começo mensagem simulador */
.igualdade{
    position: absolute; 
    left: 45%;
    top: 35%;
}
.fundomensagem{
    background-color: rgb(179, 176, 172);
    border: solid 1px;
    border-radius: 10px;
    position: absolute;
    left: 60%;
    top: 50px;
    height: 280px;
    width: 330px;    
}
.dinheiro{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    top: 15%;
    left: 5%;
}

.resultado{
    border-bottom: solid 1px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 5px;
    top: 13%;
    left: 49.5%;
    height: 20px;    
    width: 100px;
}

.liquido{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    top: 50%;
    left: 5%;
}

.liquidoResult{
    border-bottom: solid 1px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 5px;
    top: 48%;
    left: 52%;
    height: 20px;    
    width: 100px;
}

/* final mensagem simulador */

/* começo login */

.estiloModal{
    display: none;
    position: fixed;
    z-index: 1; /*sobre põe o que esta embaixo*/
    height: 100%;
    width: 100%;
    overflow: auto; /*barra de rolagem*/
    background-color: rgba(0, 0, 0, 0.5);
}

.conteudoModal{
    background-color:  #30415D;
    margin: 10% auto;
    padding: 30px 10px;
    height: 200px;
    width: 20%;
    border-radius: 15px;

}

.conteudoModal .posicaoModal{
    margin: 30px 35px;
}

.posicaoModal .email{
   
    width: 200px;
    height: 20px;
    margin-bottom: 20px;
}

.posicaoModal .senha{
    width: 200px;
    height: 20px;   
}

 .fecharlog{
    position: absolute;
    top: 23%;
    left: 58.5%;
    border: none;
    background: transparent;
    font-size: 20px;
    width: 20px;
    cursor: pointer;  
    opacity: 0.5;
}

.fecharlog:hover{
    opacity: 1;
}

/* final login */

/* Começo cadastro */

.moldeCad{
    
    display: none;
    position: fixed;
    z-index: 1; /*sobre põe o que esta embaixo*/
    height: 100%;
    width: 100%;
    overflow: auto; /*barra de rolagem*/
    background-color: rgba(0,0,0,0.5);
}

.conteudoMolde{
    background-color:   #30415D;
    margin: 10% auto;
    padding: 20px 10px;
    height: 250px;
    width: 20%;
    border-radius: 15px;
}

.conteudoMolde .posicaoMolde{
    margin: 15px 35px;
}

.posicaoMolde .Nome{
    width: 200px;
    height: 20px;
    margin-bottom: 5px;
}

.posicaoMolde .cad{
    width: 200px;
    height: 20px;
    margin-bottom: 5px;
}
 .fecharCad{
    position: absolute;
    top: 22%;
    left: 58.5%;
    border: none;
    background: transparent;
    font-size: 25px;
    width: 20px;
    cursor: pointer;  
    opacity: 0.5;
}
.fecharCad:hover{
    opacity: 1;
}
/* Final Cadastro */



/* Começo conteúdo Dois */
/* .conteudo2{
    background-image: linear-gradient(45deg,  rgb(153, 159, 179), rgb(217, 216, 221)); 
    position: relative;
    border-radius: 10px;
    top: 57%;
    left: 60px;
    width: 1240px;
    height: 950px; 
    margin-bottom: 50px;
} */
/* Final conteúdo Dois */
